.container {
    float: left;
    padding: 10px;
    margin-top: 20px;
    max-height: auto;
}
  
.mid {
    width: 60%;
    /* background-color: green; */
}

.side {
    width: 20%;
    height: 150vh;
    /* background-color: red; */
}



.row:after {
    content: "";
    display: table;
    clear: both;
}



.cv-box {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    /* border: red solid;  */
}

.qr-box1 {
    width: 80%; 
    height: auto; 
    margin-top: 10px;
    position: sticky; 
    top: 0;
    float: left;
    transform: translate(10%,0);
    /* border: red solid; */
}

.qr-box2 {
    width: 100%; 
    height: auto;

    /* border: green solid; */
}

.clickme {
    color: white; 
    text-align: center;
    font-size: 28px;

    /* border: purple solid; */
}
